n8n/workflows/handle-facebook-post.json
{
  "name": "Handle Facebook Post - Quofind Marketplace",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "quofind-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.eventType }}",
              "operation": "equals",
              "value2": "new_post"
            }
          ]
        }
      },
      "id": "filter-new-post",
      "name": "Filter New Posts",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "model": "gpt-4-turbo-preview",
        "messages": {
          "values": [
            {
              "content": "Sei un assistente che analizza annunci di vendita per un marketplace italiano.\nEstrai le seguenti informazioni dal testo e restituisci un JSON:\n\n{\n  \"tipo\": \"vendo\" o \"cerco\",\n  \"categoria\": categoria del prodotto,\n  \"titolo\": titolo breve (max 60 caratteri),\n  \"descrizione\": descrizione pulita,\n  \"prezzo\": prezzo numerico (solo numero),\n  \"valuta\": \"EUR\",\n  \"localita\": citta o zona,\n  \"paroleChiave\": array di 3-5 parole chiave,\n  \"condizione\": \"nuovo\", \"usato\" o null,\n  \"spedizione\": true/false\n}\n\nSe un campo non e determinabile, usa null.\nRispondi SOLO con il JSON.",
              "role": "system"
            },
            {
              "content": "={{ $json.data.message }}",
              "role": "user"
            }
          ]
        },
        "options": {
          "temperature": 0.3,
          "maxTokens": 500
        }
      },
      "id": "openai-analysis",
      "name": "OpenAI Analysis",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [650, 200],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse AI response and prepare listing data\nconst aiResponse = JSON.parse($input.first().json.message.content);\nconst postData = $('Webhook Trigger').first().json.data;\n\nconst listing = {\n  userId: postData.from?.id || 'unknown',\n  facebookPostId: postData.postId,\n  title: aiResponse.titolo || postData.message?.substring(0, 60),\n  description: aiResponse.descrizione || postData.message,\n  category: aiResponse.categoria || 'altro',\n  price: aiResponse.prezzo || 0,\n  currency: aiResponse.valuta || 'EUR',\n  localita: aiResponse.localita || '',\n  paroleChiave: aiResponse.paroleChiave || [],\n  condizione: aiResponse.condizione,\n  spedizione: aiResponse.spedizione || false,\n  images: postData.attachments?.map(a => a.media?.image?.src).filter(Boolean) || [],\n  tipo: aiResponse.tipo || 'vendo'\n};\n\nreturn { listing, senderId: postData.from?.id };"
      },
      "id": "prepare-listing",
      "name": "Prepare Listing Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 200]
    },
    {
      "parameters": {
        "url": "={{ $env.API_ENDPOINT }}/listings",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "={{Object.keys($json.listing).join(',')}}",
              "value": "={{Object.values($json.listing).join(',')}}"
            }
          ]
        },
        "options": {}
      },
      "id": "create-listing-api",
      "name": "Create Listing via API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v18.0/me/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $env.FACEBOOK_PAGE_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": { \"id\": \"{{ $json.senderId }}\" },\n  \"message\": {\n    \"text\": \"Annuncio pubblicato!\\n\\nTitolo: {{ $json.listing.title }}\\nPrezzo: {{ $json.listing.price }} EUR\\nCategoria: {{ $json.listing.category }}\"\n  }\n}",
        "options": {}
      },
      "id": "send-confirmation",
      "name": "Send Messenger Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"processed\" }"
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"skipped\", \"reason\": \"not a new post event\" }"
      },
      "id": "respond-skipped",
      "name": "Respond Skipped",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Filter New Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter New Posts": {
      "main": [
        [
          {
            "node": "OpenAI Analysis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Analysis": {
      "main": [
        [
          {
            "node": "Prepare Listing Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Listing Data": {
      "main": [
        [
          {
            "node": "Create Listing via API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Listing via API": {
      "main": [
        [
          {
            "node": "Send Messenger Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Messenger Confirmation": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "quofind",
      "id": "1"
    },
    {
      "name": "facebook",
      "id": "2"
    }
  ]
}
